@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='f6d3ffc4-4713-9c9f-1e0f-219beb55b1bc'] {
    -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='f6d3ffc4-4713-9c9f-1e0f-219beb55b1bf'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='d418b8b5-f2c0-2cac-7577-d76f6df90ed9'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a69f695c-a727-3f7d-1119-9bc20d15c4eb'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a6edfefd-cdb7-abc5-dedd-63156c67f6a4'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='8854bf5f-9328-422b-afe0-ce643bd259d2'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a7abd873-7a2d-5bc4-ad4a-a417272d02af'] {
    -webkit-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -moz-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -ms-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='066aeb8f-771c-a36d-b77c-91565bb63b85'] {
    -webkit-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -moz-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -ms-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='d3eaa8ec-bfd5-5142-4db4-95695738a563'] {
    -webkit-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1)
      rotateX(0) rotateY(0) rotateZ(-270deg) skew(0, 0);
    -moz-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -ms-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='73a86719-8400-7826-1899-24d4a9162e67'] {
    -webkit-transform: translate3d(-40px, -379px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    -moz-transform: translate3d(-40px, -379px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    -ms-transform: translate3d(-40px, -379px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    transform: translate3d(-40px, -379px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='2d2e82b7-8cf1-ea45-fed9-c58f9e4fc352'] {
    display: block;
  }

  .h4-small {
    background-color: red;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='f6d3ffc4-4713-9c9f-1e0f-219beb55b1bc'] {
    -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='f6d3ffc4-4713-9c9f-1e0f-219beb55b1bf'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='d418b8b5-f2c0-2cac-7577-d76f6df90ed9'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a69f695c-a727-3f7d-1119-9bc20d15c4eb'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a6edfefd-cdb7-abc5-dedd-63156c67f6a4'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='8854bf5f-9328-422b-afe0-ce643bd259d2'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a7abd873-7a2d-5bc4-ad4a-a417272d02af'] {
    -webkit-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -moz-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -ms-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='066aeb8f-771c-a36d-b77c-91565bb63b85'] {
    -webkit-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -moz-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -ms-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='d3eaa8ec-bfd5-5142-4db4-95695738a563'] {
    -webkit-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1)
      rotateX(0) rotateY(0) rotateZ(-270deg) skew(0, 0);
    -moz-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -ms-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='73a86719-8400-7826-1899-24d4a9162e67'] {
    -webkit-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    -moz-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    -ms-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    opacity: 0;
  }

  .h4-small {
    background-color: green;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='f6d3ffc4-4713-9c9f-1e0f-219beb55b1bc'] {
    -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='f6d3ffc4-4713-9c9f-1e0f-219beb55b1bf'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='d418b8b5-f2c0-2cac-7577-d76f6df90ed9'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a69f695c-a727-3f7d-1119-9bc20d15c4eb'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a6edfefd-cdb7-abc5-dedd-63156c67f6a4'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='8854bf5f-9328-422b-afe0-ce643bd259d2'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a7abd873-7a2d-5bc4-ad4a-a417272d02af'] {
    -webkit-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -moz-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -ms-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='066aeb8f-771c-a36d-b77c-91565bb63b85'] {
    -webkit-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -moz-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -ms-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='d3eaa8ec-bfd5-5142-4db4-95695738a563'] {
    -webkit-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1)
      rotateX(0) rotateY(0) rotateZ(-270deg) skew(0, 0);
    -moz-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -ms-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='73a86719-8400-7826-1899-24d4a9162e67'] {
    -webkit-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    -moz-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    -ms-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    opacity: 0;
  }

  .h4-small {
    background-color: orange;
  }
}

@media (max-width: 479px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='f6d3ffc4-4713-9c9f-1e0f-219beb55b1bc'] {
    -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='f6d3ffc4-4713-9c9f-1e0f-219beb55b1bf'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='d418b8b5-f2c0-2cac-7577-d76f6df90ed9'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a69f695c-a727-3f7d-1119-9bc20d15c4eb'] {
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a6edfefd-cdb7-abc5-dedd-63156c67f6a4'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='8854bf5f-9328-422b-afe0-ce643bd259d2'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, null) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='a7abd873-7a2d-5bc4-ad4a-a417272d02af'] {
    -webkit-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -moz-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -ms-transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    transform: translate3d(-180px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='066aeb8f-771c-a36d-b77c-91565bb63b85'] {
    -webkit-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -moz-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -ms-transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    transform: translate3d(null, -150px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='d3eaa8ec-bfd5-5142-4db4-95695738a563'] {
    -webkit-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1)
      rotateX(0) rotateY(0) rotateZ(-270deg) skew(0, 0);
    -moz-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    -ms-transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    transform: translate3d(-250px, -266px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-270deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='73a86719-8400-7826-1899-24d4a9162e67'] {
    -webkit-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    -moz-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    -ms-transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    transform: translate3d(-40px, -360px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(270deg) skew(0, 0);
    opacity: 0;
  }
}
